@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        background: none;
        border: none;
        color: #fff;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333333;
        width: 100%;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links li a {
        color: white;
        padding: 15px;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav-links li a:hover {
        background-color: #575757;
    }

    .show {
        display: flex;
    }
}

.discover-main {
    grid-template-columns: 1fr;
}

.photo-gallery {
    grid-template-columns: 1fr;
}
