@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .card {
        background-color: #fff;
        margin: 5px;
        border-radius: 6px;
        box-shadow: 0 0 30px rgb(83, 75, 75);
    }
}

span {
    color: white;
    font-size: 50px;
}

.title-container h1 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-align: left;
    margin: 0;
    font-size: 2rem;
}
