@media screen and (max-width: 599px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .profile-header {
        display: flex;
        align-items: center;
    }

    .profile-pic {
        width: 50px;
        margin-right: 10px;
    }

    span {
        font-size: 0.8rem;
    }

    .dark-mode-button {
        position: static;
        margin-left: auto;
    }

    .hamburger-menu {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }

    nav ul {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav.show ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #000000;
        z-index: 1;
    }

    nav.show li {
        width: 100%;
        text-align: center;
    }

    nav.show a {
        padding: 10px;
        text-decoration: none;
        color: white;
        display: block;
    }

    .title-container {
        align-items: center;
        text-align: center;
    }

    main {
        grid-template-columns: 1fr;
        flex-direction: column;
    }
}

.image-container {
    position: relative;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 150px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    font-size: 1rem;
    z-index: 2;
}