@media screen and (max-width: 599px) {
    header, footer {
        width: 100%;
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .profile-header, nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    #navbar ul {
        display: none; 
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        background-color: #123456;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    #navbar ul.show {
        display: block;
    }

    #navbar ul li {
        text-align: center;
    }

    #navbar ul li a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    .card {
        width: auto;
        margin-bottom: 20px;
    }
}
